<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">DynamoDB Admin</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link<%= breadcrumb.some(item => item.text === 'Tables' && item.active) ? ' active' : '' %>" href="/">Tables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link<%= breadcrumb.some(item => item.text === 'Database Logs' && item.active) ? ' active' : '' %>" href="/logs">Logs</a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <span class="me-2">Dark Theme</span>
        <% let checked = theme.toString() === "dark" ? "checked" : "" %>
        <input id="dark-theme-toggle" type="checkbox" <%= checked %> data-toggle="toggle" data-onstyle="dark" data-size="xs">
      </div>
    </div>
  </div>
</nav>

<!-- Breadcrumb -->
<ol class="breadcrumb">
  <% for (const item of breadcrumb) { %>
  <a class="breadcrumb-item<%= item.active ? ' active' : '' %>" <%- item.href ? `href="${item.href}"`: '' %>><%= item.text %>
    <% if (item.badge) { %>
      <span class="badge badge-secondary badge-pill ml-1"><%= item.badge %></span>
    <% } %>
  </a>
  <% } %>
</ol>

<script>
  const DEFAULT_THEME = 'light'

  function changeColorScheme(theme) {
    //dark theme preferred, set document with a `data-theme` attribute
    if (theme === "dark") {
      document.documentElement.setAttribute("data-theme", "dark");
    } else {
      document.documentElement.removeAttribute("data-theme");
    }

    //also check or uncheck the toggle
    $('#dark-theme-toggle').attr('checked', theme === "dark");
    document.location.reload();
  }

  function setCookie(theme) {
    $.cookie("theme", theme, { path: '/' });
  }

  function detectColorScheme() {
    const curTheme = document.documentElement.getAttribute("data-theme") || DEFAULT_THEME;

    setCookie(curTheme);
  }

  $(function () {
    $('#dark-theme-toggle').change(function () {
      const themes = ['light', 'dark'];

      const curTheme = document.documentElement.getAttribute("data-theme") || DEFAULT_THEME;
      const newTheme = curTheme === themes[1] ? themes[0] : themes[1]

      setCookie(newTheme);
      changeColorScheme(newTheme);
    });

    detectColorScheme();
  });
</script>
